@import url("./common.scss");
@import url("./dark.scss");
* {
  font-family: PingFang SC, Microsoft YaHei;
}
* {
  margin: 0;
}
html,
body,
#app {
  height: 100%;
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.cursor-p {
  cursor: pointer;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px; /* 整体 圆角 */
}
::-webkit-scrollbar-thumb {
  background: #dcdfe6;
}
